.section {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
}

#mainHeader {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

h1 {
    margin: auto;
    position: relative;
    font-size: 65px;
    padding-left: 20px;
}

.vl {
    border-left: 6px solid cornflowerblue;
    height: 125px;
    border-image-slice: 1;
    display: flex;
    align-items: center;
}

.vl h1:nth-child(2) {
    color: cornflowerblue;
}

#mainHeaderImage {
    width: 45%;
}

#mainHeaderImage>img {
    width: 65%;
    display: block;
    margin-left: 30%;
    margin-right: auto;
    margin-bottom: 100px;

}

.linkButton {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

#mainHeader div p,
#mainHeader div a {
    margin-top: 20px;
}

#mainHeader div p {
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}
#secondSectionImage{
    width: 120%;
}
#secondSectionImage img{
    width: 60%;
    display: block;
    margin-left: 23%;
    margin-right: 15%;
}
#secondSection{
    width: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
}
#secondSection div p {
    font-size: 20px;
    color: gray;
    line-height: 1.5;
}

footer{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:x-large;
    text-align: center;
    background-color: black;
    color: white;
    border: solid;
}
span{
    color: cornflowerblue;
}